#boton{
    background-color: rgb(42, 248, 27);
    color: white;
    margin-top: 10px;
    margin-left: 118px;
}
#boton:hover{
    background-color: rgb(37, 184, 27);
    color: white;
}

#formulario{
    margin-right: 140px;
    margin-left: 140px;
    margin-top: 70px;
    margin-bottom: 140px;
}

